[flake8]
ignore = E203, E266, E501, W503, F403, F401, E501, E251, D400, D300, D205, D200, D105, D100, D101, D103, D107, W503, E712, C901
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist
max-complexity = 10
max-line-length = 79
